body.lock-scroll {
    overflow: hidden;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: none;
}

#logInWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background: white;
    border: 1px solid lightgray;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    padding: 40px;
    z-index: 4;
}

#logInWrapper h1 {
    margin-bottom: 30px;
}

.signUp{
    text-align: right;
    margin-bottom: 30px;
}

.signUp span:hover{
    cursor: pointer;
    text-decoration: underline;
}

.inputBox {
    border: 1px solid lightgray;
    width: 90%;
    height: 40px;
    margin: 5px auto;
    border-radius: 20px;
    overflow: hidden;
}

.inputBox input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 20px;
    outline: none;
}

.submitButtonWrapper, .loginOptionWrapper {
    margin: auto;
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.submitButtonWrapper .btn, .loginOption{
    flex: 1;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 20px;
    background: white;
}

.submitButtonWrapper .btn:first-child {
    color: white;
    background: black;
    margin-right: 5px;
}

.submitButtonWrapper .btn:hover, .loginOption {
    cursor: pointer;
}

.or{
    margin-top: 20px;
    text-align: center;
    opacity: 50%;
}

.loginOption{
    margin-top: -10px;
    margin-right: 5px;
}